###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [ ]:
# Write code here
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]


result =[[i , j] for i, j in zip(list1,list2)]
print(result)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [ ]:
# Write code here
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [ ]:
# Write code here
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

# Using zip to combine candy names with their quantities
for candy, quantity in zip(candy_list, no_of_items):
    print(f"{candy}-{quantity}")

Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [1]:
# Write code here
list1 = [1,2,3,4,5,6]
sum = 0
result = []
for i in list1:
    sum = sum+i
    result.append(sum)

print(result)

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [2]:
list1 = [2,4,6,10,1]
result = []

for i in list1:
    current_sum = 0
    for j in list1:
        if j >= i:
            current_sum += j
    result.append(current_sum)

print(result)

[22, 20, 16, 10, 23]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [3]:
# Write code here
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]

result = []

for i in num1:
    for j in num2:
        if i == j :
            result.append(i)

print(sorted(result))

[34, 67, 89]

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [1]:
input_list = ['CampusX is a channel', 'for data-science', 'aspirants.']

output_list = []
for sentence in input_list:
    output_list.extend(sentence.split())

print(output_list)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [3]:
input_matrix = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

# Use list comprehension to join characters in each sublist to form words,
# then join the words with spaces.
output_string = ' '.join([''.join(word_chars) for word_chars in input_matrix])

print(output_string)

campux is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [6]:
input_list = ['campusxIs', 'bestFor', 'dataScientist']

output_list = []
for word in input_list:
    modified_word = []
    for i, char in enumerate(word):
        if char.isupper() and i > 0:
            modified_word.append(' ')
        modified_word.append(char)
    output_list.append(''.join(modified_word))

print(output_list)

['campusx Is', 'best For', 'data Scientist']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [2]:
list1 = [1,2,3,4,5,1]
list2 = [2,3,5,7,8]

# Combine the two lists and convert to a set to get unique elements
union_set = set(list1 + list2)

# Convert the set back to a list (order is not guaranteed from set)
# If order matters, one could sort it: sorted(list(union_set))
# However, the example output is sorted, so we'll sort the final list.
union_list = sorted(list(union_set))

print(union_list)

[1, 2, 3, 4, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [4]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]

# Use a list comprehension to find the maximum in each row
max_of_rows = [max(row) for row in matrix]

print(max_of_rows)

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [5]:
# Write code here
matrix_13 = [[j + i * 3 for j in range(3)] for i in range(3)]
print(matrix_13)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [7]:
matrix = [
  [1,2,3],
  [4,5,6],
  [7,8,9]
]

transposed_matrix = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transposed_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
matrix = [
  [1,2,3],
  [4,5,6],
  [7,8,9]
]

flattened_list = [num for row in matrix for num in row]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]